* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding: 5px 0;
    color: whitesmoke;
    background-color: steelblue;
}

p {
    margin-bottom: 8px;
}

body > p {
    padding: 5px 20px;
    margin: 0;
}

svg {
    width: 100%;
    height: 100%;
}

#timeline-overview {
    margin-top: 10px;
    width: 100%;
    height: 8%;
}

#outlier-wrapper {
    padding: 0 20px;
    height: 4.8%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#outlier-wrapper > span {
    margin-right: 15px;
    margin-top: 5px;
    display: inline-block;
    font-size: 12px;
}

#outlier-sensitivity {
    margin-right: 10px;
}

.overview-container {
    padding: 20px;
    width: 100%;
    height: 10%;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 73%; /* This is what we in Sweden call a fulhack */
    padding-top: 10px;
    /* padding: 20px 10px; */
}

.container > div {
    padding: 0px 20px;
}

/* Supposedly fixes overflow, but not for us */
/* .container * {
    min-height: 0;
} */

#timeline-focus {
    width: 100%;
}

#day-focus {
    width: 70%;
    display: flex;
    height: 100%;
    flex-direction: column;
}

#day-view {
    height: 65%;
}

#weather-container {
    height: 30%;
    display: flex;
    flex-direction: column;
}

#weather-bar {
    height: 100%;
}