* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
    color: whitesmoke;
    background-color: steelblue;
}

svg {
    width: 100%;
    height: 100%;
}

#timeline-overview {
    width: 100%;
    height: 10%;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 80%; /* This is what we in Sweden call a fulhack */
}

/* Supposedly fixes overflow, but not for us */
/* .container * {
    min-height: 0;
} */

#timeline-focus {
    width: 100%;
}

#day-view {
    width: 70%;
}